body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

h1{
    color: #002D62;
}

h4{
    color: rgba(0, 45, 98, 0.78);
}


.list-group {
    width: auto;
    margin: 2.5rem auto;
    -webkit-box-shadow: 0px 0px 22px 8px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 22px 8px rgba(0,0,0,0.2);
}

span{
    font-size: 1.3rem;
    color: #002D62;
}

input[type="checkbox"]{
    margin-top: auto;
    margin-bottom: auto;
}

input:checked+span{
    text-decoration: line-through;
    text-decoration-color: #EEAECAFF;
}

.content {
    width: 100%;
    max-width: 460px;
    padding: 15px;
    margin: auto;
}

input.new-item{
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0;
    padding-left: 0;
    margin-right: 1rem;

}

.item-only:hover{
    background-color: #f1f1f1;
}

input[type='text']{
    font-size: 1.3rem;
}

input[type='text']:focus{
    border-color: #002D62;
    box-shadow: none;
}

.btn{
    background-color: #94BBE9;
    color: #fff;
}

.btn:hover{
    background-color: #00224c;
    color: #fff;
}

.list-group-item{
    padding: 1.3rem 1rem;
}